# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


else {
                             try {
                                await hitAPI('POST', `/routines/${routine.id}/activities`, payload)
                                    .then((resp) => {
                                        console.log(resp)
                                        let newAct = activitiesList.find(activity => {
                                            return activity.id === resp.activityId
                                        })
                                        newAct.duration = resp.duration;
                                        newAct.count = resp.count;
                                        const newList = [...routineList];
                                        let idx = newList.indexOf(routine);
                                        newList[idx].activities.push(newAct)
                                        setRoutineList(newList);
                                        }).catch(console.error)
                            } catch(error) {console.log(error)}
                                
                            }

