.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #ededee;
	position: sticky;
	top: 0;
	z-index: 100;
	border: 2px solid #dedee2;
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.header-logo {
	color: rgb(224, 222, 222);
	padding: 5px;
	margin: 5px;
}
.header-search {
	display: flex;
	flex: 1;
}

.header-logo {
	width: 200px;
	height: 140px;
}
.serach-bar {
	height: 30px;
	display: flex;
	flex: 1;
}

.header-nav {
	display: flex;
	justify-content: space-evenly;
}
.header-nav-color {
	color: rgb(10, 10, 160);
	padding: 5px;
	margin: 5px;
}
