.myroutine-list {
	display: flex;
	flex-direction: column;

	align-items: center;
}
.routine--form > input {
	height: 25px;
	margin: 8px;
}
.routine--form > button {
	height: 25px;
	padding: 2px 4px 5px 2px;
	background-color: #4545b6;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 500;
}

.myRoutin-create {
	width: 20%;
	background: #4545b6;
	text-align: center;
	color: white;
	margin: 10px;
	border-radius: 12px;
	display: grid;
	
}

.myRoutin-create:hover {
	cursor: pointer;
}

.routine--form > button:hover {
	cursor: pointer;
}

.routine--form-buuton {
	height: 40px;
	background-color: #4545b6;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 500;
	position: relative;
	z-index: 1;
}

.options > button {
	height: 40px;
	width: 40%;
	margin: 10px;
	background-color: #4545b6;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 500;
}
.options > button:hover {
	cursor: pointer;
}

.activeCreating-form {
	width: 100%;
	min-height: 120px;
}

.activeCreating-form > input {
	height: 25px;
	margin: 7px;
}
.activeCreating-form > button {
	height: 35px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 700;
	background: #4545b6;
	color: white;
	border: none;
	width: 92%;
    margin: 10px;
    
    border-radius: 3px;
}

.select-div {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.activity-select {
	width: 40%;
	height: 34px;
	background: #4545b6;
	align-items: center;
	color: white;
	border: none;
	margin: 1px 0.2px 2px 1px;
    align-items: center;
    border-radius: 3px;
}

.select-buuton {
	height: 35px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 700;
	background: #4545b6;
	color: white;
	border: none;
	width: 55%;

    margin-top: 3px;
    border-radius: 3px;
}
