.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(3px);
	background: rgba(0, 0, 0, 0.4);
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	text-align: center;
}

.newActivity {
	display: flex;

	min-width: 480px;
	padding: 3rem;

	background: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border: 2px solid rgb(194, 194, 218);
	background-color: rgb(219, 219, 219);
	flex-direction: column;
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
	z-index: 1;
}

.newActivity > form {
	min-height: 170px;
	padding: 5px;
	margin-bottom: 10px;
	width: 100%;
}
.newActivity > form > h3 {
	text-align: left;
	margin: 10px 0 10px 0;
}
.newActivity > form > input {
	width: 100%;
	height: 30px;
}
.newActivity > form > textarea {
	width: 100%;
	height: 80px;
}

.newActivity > form > h3 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding: 5px;
}
.activity-buttonnew {
	padding: 10px;
	margin: 20px 2px 10px 2px;
	width: 100%;
}
