.routine-list {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.routine {
    display: grid;
    grid-template-rows: 1fr 2fr;

    border: 2px solid rgb(41, 0, 226);
    color: #4040bf;
    background-color: rgb(204, 239, 250);
    box-shadow: 2px 5px 16px 0px rgba(0, 0, 0, 0.91);

    margin: 5px;
    padding: 5px;

    width: 55vw;
}

.routine-activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: rgb(235, 233, 233);
    border-top: 3px solid #4040bf;

    margin: -5px;
    padding: 5px;
}

.routine-activity {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    width: 45vw;

    margin-top: 15px;
}

button {
    background-color: #4040bf;
    color: rgba(255, 255, 255, 0.856);

    padding: 2px;
    border-radius: 3px;
}